@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

body{
    background-color: rgb(24, 24, 24);
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;

}

section{
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    color: black;

}
#sel{
    width: 170px;
    min-height: 100px;
}

footer{
    text-align: center;
    color: white;
    padding: 30px;
}




